{% extends 'index.html' %}

{% block title %}
Админ
{% endblock %}

{% block body %}
<div class="header"></div>
<div class="container">
	<div class="login_buttons" id="style-1">
		<form action="/admin" method="post">
		{% for user in users_data %}
			<div class="user-button form-check">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-success login_button" name="user_login">{{user.login}}</button>
					<input type="checkbox" data-toggle="switchbutton" {% if user.state %} checked {% else %} {% endif %}
						   data-onlabel="Включен" data-offlabel="Выключен" data-onstyle="success" data-offstyle="danger"
					name="button-switch" onclick="process({{ user.id }})">
				</div>
			</div>
		{% endfor %}
		</form>
	</div>
	<div style="display: block; width: 100%; margin: 0 16px">
		<div class="up-part">
			<div class="right-part"></div>
			<div class="center-part">
				<h1 class="login-label" style="text-align: center">Пользователь: {{users_data[0]["login"]}}</h1>
				<form action="/customer/" method="post" style="display: flex; justify-content: center;">
					<div style="text-align: left; margin-right: 3rem;">
						<div class="form-group">
							<label for="inputTime" style="color: aliceblue">Введите дату:</label>
							<input type="datetime-local" id="start" name="start" required />
						</div>
					</div>
					<div style="margin-right: 3rem;">
						<div class="form-group">
							<label for="inputTime" style="color: aliceblue">Введите дату:</label>
							<input type="datetime-local" id="end" name="end" required />
						</div>
					</div>
					<div style="text-align: right;">
						<button type="submit" class="btn btn-success">Обновить</button>
					</div>
				</form>
			</div>
			<div class="left-part"></div>
		</div>
		<div class="down-part">
			<div class="line-block">
				<div style="height: 50vh; width: 50%;">
					<canvas id="power"></canvas>
				</div>
				<div style="height: 50vh; width: 50%;">
					<canvas id="temp"></canvas>
				</div>
			</div>
			<div style="display: flex; margin-top: 16px">
				<div style="display: flex; flex-direction: column;">
					<h4 style="color: aliceblue"> Общая потребляемая мощность за выбранный период - {{users_data[0]["power_sum"]}} Вт*ч </h4>
					<h5 style="color: aliceblue"> Стоимость за выбранный период - {{users_data[0]["cost"]}}₽ </h5>
				</div>
				<button type="button" class="btn btn-success" style="
					margin: 12px 0 12px auto;
				">{% if users_data[0]["pay_stats"] %} Оплатил {% else %} На оплате {% endif %}</button>
			</div>
		</div>
	</div>
</div>

<script>
	const labels = {{ users_data[0]["minutes"] | tojson}};

	const data1 = {
		labels: labels,
		datasets: [{
			label: 'Мощность, Вт*ч',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: {{ users_data[0].power_plt_data | tojson}},
		}]
	};
	const data2 = {
		labels: labels,
		datasets: [{
			label: 'Температура, ℃',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: {{ users_data[0].temp_plt_data | tojson}},
		}]
	};

	const config1 = {
		type: 'line',
		data: data1,
		options: { maintainAspectRatio: false }
	};
	const config2 = {
		type: 'line',
		data: data2,
		options: { maintainAspectRatio: false }
	};

	const power = new Chart(
		document.getElementById('power'),
		config1
	);
	const temp = new Chart(
		document.getElementById('temp'),
		config2
	);

	var start_timestamp = {{ users_data[0]["label_plt"][0] }} ;
	var end_timestamp = {{ users_data[0]["label_plt"][-1] }} ;
	var start_date = new Date(start_timestamp);
	var end_date = new Date(end_timestamp);
	var start_dateString = start_date.toISOString().slice(0, 16);
	var end_dateString = end_date.toISOString().slice(0, 16);
	var startInput = document.getElementById("start");
	var endInput = document.getElementById("end");
	startInput.value = start_dateString;
	endInput.value = end_dateString;

	function process(index) {
    $.post("/customer/Admin/admin/", {'index': index}, function (data, status) {
        alert(`Data: ${data}\nStatus: ${status}`);
		});
	}

</script>

{% endblock %}