{% extends 'index.html' %}

{% block title %}
Пользователь
{% endblock %}

{% block body %}
<div class="header"></div>
<div class="container">
	<div class="up-part">
		<div class="right-part"></div>
		<div class="center-part">
			<form method="post" style="display: flex; justify-content: center;">
				<div style="text-align: left; margin-right: 3rem;">
					<div class="form-group">
						<label for="inputTime">Введите дату:</label>
						<input type="time" class="form-control">
					</div>
					<div class="form-group">
						<label for="inputDate">Введите дату:</label>
						<input type="date" class="form-control">
					</div>
				</div>
				<div style="text-align: right;">
					<div class="form-group">
						<label for="inputTime">Введите дату:</label>
						<input type="time" class="form-control">
					</div>
					<div class="form-group">
						<label for="inputDate">Введите дату:</label>
						<input type="date" class="form-control">
					</div>
				</div>
			</form>
		</div>
		<div class="left-part"></div>
	</div>
	<div class="down-part">
		<div class="line-block">
			<div style="height: 50vh; width: 50%;">
				<canvas id="power"></canvas>
			</div>
			<div style="height: 50vh; width: 50%;">
				<canvas id="temp"></canvas>
			</div>
		</div>
		<form method="post">
			<label class="switch">
			  <input type="checkbox">
			  <span class="slider"></span>
			</label>
		</form>
	</div>
</div>

<script>
	const labels = {{ label | tojson}};

	const data1 = {
		labels: labels,
		datasets: [{
			label: 'Sales',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: {{ power_data | tojson}},
		}]
	};
	const data2 = {
		labels: labels,
		datasets: [{
			label: 'Sales',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: {{ temp_data | tojson}},
		}]
	};

	const config1 = {
		type: 'line',
		data: data1,
		options: { maintainAspectRatio: false }
	};
	const config2 = {
		type: 'line',
		data: data2,
		options: { maintainAspectRatio: false }
	};

	const power = new Chart(
		document.getElementById('power'),
		config1
	);
	const temp = new Chart(
		document.getElementById('temp'),
		config2
	);

</script>
{% endblock %}